* {
    padding: 0;
    margin: 0;
}

body {
    font: normal 14pt arial;
}

div {
    text-align: center;
}

#tentativa1 input {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 20pt;
}

#tentativa2 input {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 20pt;
}

#tentativa3 input {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 20pt;
}

#tentativa4 input {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 20pt;
}

#tentativa5 input {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 20pt;
}

.botoes-de-acao input {
    margin-top: 20px;
    width: 80px;
    height: 40px;
}